

.btn:hover{
    background-color: rgb(184, 184, 184);
}


.datos{
    font-size:1rem;
}
.tabla{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cajaFormulario{
    margin-top: 50px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: left;

}
.formulario{
    font-size: 1rem;
}

table{
    border: 1px solid rgb(189, 189, 189);
    border-collapse: collapse;
    padding: 30px;
    background-color:#e5e5e5;
}
table tr:hover{
    background-color: coral;
}

td{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

th{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-weight: bold;
    font-size: 1.3rem;
}

.video{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}



/*-----------------------------------------------------PANTALLA IPAD--------------------------------------------------*/

@media only screen and (max-width:768px) {

    .columnasContenedor{
        width: 80%;
        height:auto;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
    }
    .column1{
        width: 100%;
        height: 800px;
        overflow: hidden;
        margin-bottom: 20px;
    }
    .column2{
        width: 100%;
        height: 400px;
        overflow: hidden;
        padding-left: 0px;
    }
    .column3{
        width: 100%;
        height: 400px;
        overflow: hidden;
        padding-left: 0px;
    }
    .art1{
        width: 100%;
        height: 1000px;
        overflow-y: visible;
        border-bottom: solid black 1px;
        margin-bottom: 20px;
        padding-bottom: 10px;
    }
    .art2,.art3,.art4,.art5{
        display:flex;
        flex-direction: row;
        overflow-y: hidden;
        border-bottom: 1px solid black;
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
        padding-bottom: 10px;
    }
    .photo{
        width: 200px;
        height: 200px;
        box-sizing: border-box;
        margin-right: 15px;
    }
    .photo img{
        width: 200px;
        flex-shrink: 1;
    }
    .photomain{
        flex-shrink: 1;
        width: 85%;
    }
    .mother{
        grid-template-rows: 0.075fr 0.30fr 1fr 0.2fr 0.5fr 0.20fr;
    }

    .flex{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: auto;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .m{
        width: 100%;
        height: auto;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-bottom: 15px;

    }
    .flex .card{
        width: 48%;
        overflow: hidden;
    }

    .flex2{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: auto;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 100px;
    }
    .divGrande{
        width: 100%;
        height: auto;
        overflow: hidden;
        border-bottom: solid 1px  rgb(201, 201, 201);
        margin-bottom: 20px;
        padding-bottom: 10px;
    }
    .divGrande img{
        width: 120%;
    }
    .divChicos{
        width: 100%;
        height: 900px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .divchico{
        width: 100%;
        height: 23%;
        overflow: hidden;
        display:flex;
        flex-direction: row;
        align-items: center;
        border-bottom: solid 1px  rgb(201, 201, 201);;
        padding-bottom: 8px ;
        margin-top: 0px;
    }
    .divchico img{
        height: 100%;
    }
    .divchico h2{
        padding-left: 10px;
    }
    
/**FOOTER*/
    .contenedorFooter{
        width: 80%;
        height: auto;
        margin-bottom: 0px;
        background-color: black;
        display: flex;
        flex-direction:column;
        margin-left: auto;
        margin-right: auto;
    }
    .logoFooter{
        width:100%;
        height:auto;
        background-color: black;
        display: flex;
        align-items: center;
        justify-items: center;
    }
    .logoFooter img{
        width: 100px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    .cajaMenu{
        width:100%;
        height: auto;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    .socialMedia{
        width:100%;
        height: auto;
        background-color: black;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .socialMedia ul li{
        display: inline-block;
        padding: 20px;
    
    }
    .socialMedia ul li img{
        width: 32px;
        height: 32px;
    }
    .menuFooter li{
        display: inline-block;
        padding-bottom: 20px;
    }

    .creditos{
        width: 80%;
        height:70px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        background-color: black;
        border-top: solid white 1px;
    
    }

}

/*---------------------------------------------------PANTALLA IPHONE 6/7/8---------------------------------------------*/

@media only screen and (max-width:375px){

    .mother{
        grid-template-rows: 0.075fr 0.30fr 0.8fr 0.2fr 0.4fr 0.25fr;
    }
    
    h1{
        color: rgb(0, 0, 0);
        font-family:PT+Serif;
        font-size: 2rem;
    }

    .lista{
        color: rgb(255, 255, 255);
        font-family:  Helvetica, sans-serif;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color:#dddddd ;
        position:fixed;
        left: 0;
        top: 71px;
        width: 100%;
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 20px;
    }

    .lista li{
        padding: 15px 0px;
        list-style: none;
        border-bottom: solid 0.5px rgb(155, 155, 155);
        width: 80%;
    }
    
    .lista li:hover{
        background-color: none;
        color: rgb(109, 109, 109);
        transition: 1s;
    }
    
    .menuFooter li{
        color: rgb(255, 255, 255);
        font-family:  Helvetica, sans-serif;
        font-weight: bold;
        padding-bottom: 5px;
        padding-left: 20px;
        text-decoration: none;
        list-style: none;
    }

    .flex{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: auto;
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .m{
        width: 100%;
        height: auto;
        overflow: hidden;
        display: flex;
        flex-direction:column;
        flex-wrap: nowrap;
        padding-bottom: 0px;
    }
    .m .card{
        width: 100%;
        height: 120px;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        border-bottom: solid 1px black;
        margin-bottom: 10px;
    }
    .m .card .photosm {
        height: 120px;
        margin-right: 15px;
        padding-bottom: 10px;
    
    }
    .m .card .photosm img {
        width: 100px;
    }

    h2{
        font-family: Arial, Helvetica, sans-serif;
        font-weight:bold;
        font-size: 1.240rem;
        color: rgb(0, 0, 0);
    }
    .photo{
        width: 50%;
        height: 100px;
        box-sizing: border-box;
        margin-right: 15px;
    }
    .photo img{
        width: 100px;
        flex-shrink: 1;
    }


    .columnasContenedor{
        width: 80%;
        height:auto;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
        margin-bottom: 10px;
    }
    .column1{
        width: 100%;
        height: auto;
        overflow:visible;
    }
    .column2{
        width: 100%;
        height:auto;
        overflow: hidden;
    }
    .column3{
        width: 100%;
        height: auto;
        overflow: hidden;
    }



    .art1{
        width: 100%;
        height: auto;
        overflow: hidden;
        border-bottom: solid black 1px;
    }
    .art2,.art3,.art4,.art5{
        display:flex;
        flex-direction: row;
        overflow: hidden;
        border-bottom: 1px solid black;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    .art5 p {
        display: none;
    }

    .flex2{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: auto;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 100px;
    }
    .divGrande{
        width: 100%;
        height: auto;
        overflow: hidden;
        border-bottom: solid 1px  rgb(201, 201, 201);
        margin-bottom: 20px;
        padding-bottom: 10px;
    }
    .divGrande img{
        width: 120%;
    }
    .divChicos{
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .divchico{
        width: 100%;
        height: 170px;
        overflow: hidden;
        display:flex;
        flex-direction: row;
        align-items: center;
        border-bottom: solid 1px  rgb(201, 201, 201);

    }
    .divchico img{
        width: 100px;
        height: 100px;

    }
    .divchico h2{
        padding-left: 10px;
    }

    .menuFooter li{
        display: none;
    }

    }
/*------------------------------------------------MOTO G4-------------------------------------------------*/

@media only screen and (max-width:360px){

.mother{
    grid-template-rows: 0.075fr 0.30fr 1fr 0.2fr 0.4fr 0.27fr;
}

/**FOOTER*/
.contenedorFooter{
    width: 100%;
    height: auto;
    margin-bottom: 0px;
    display: flex;
    flex-direction:column;
    margin-left: auto;
    margin-right: auto;
}
.logoFooter{
    width:100%;
    height:auto;
    display: flex;
    align-items: center;
    justify-items: center;
}
.logoFooter img{
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.socialMedia{
    width:100%;
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.socialMedia ul li{
    display: inline-block;
    padding: 15px;

}
.socialMedia ul li img{
    width: 38px;
    height: 38px;
}
.menuFooter li{
    display: none;
}

.creditos{
    width: 80%;
    height:70px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    background-color: black;
    border-top: solid white 1px;
}

    h2{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 1 rem;
        color: rgb(0, 0, 0);
        padding-left: 0px;
    }
}
/*----------------------------FIN DE RESPONSIVE-------*/

